@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: hsl(210 40% 98%);
  --black: #121212;

  --background: white;
  --foreground: var(--black);

  --subcolor: #a2a5a7;
  --pointColor: #e47105;

  --secondary: #f1f5f9;
  --secondary-foreground: #292929;

  --accent: #f1f5f9;
  --accent-foreground: #0f172a;
}

.dark {
  --background: var(--black);
  --foreground: var(--white);
  --subcolor: #68696b;

  --secondary: hsl(217.2 32.6% 17.5%);
  --secondary-foreground: var(--white);

  --accent: #1e293b;
  --accent-foreground: #f8fafc;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: Pretendard-Regular, sans-serif;
}

/* Scroll */
.scrollbar-thumb-rounded::-webkit-scrollbar {
  width: 6px;
}
.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  background-color: var(--foreground);
  border-radius: 10px;
}

.scrollbar-thumb-rounded::-webkit-scrollbar-track {
  background: transparent;
}

/* MDX */

/* === 코드 블록 전체 스타일 === */
figure[data-rehype-pretty-code-figure] {
  @apply relative rounded-lg shadow-md bg-[var(--accent)] p-4 my-6;
}
/* === 코드 블록 내부 스타일 === */
figure[data-rehype-pretty-code-figure] pre {
  @apply overflow-x-auto text-xs leading-relaxed bg-transparent;
}

/* === 코드 블록 - 제목 영역 (파일명 표시) === */
figure[data-rehype-pretty-code-figure] figcaption[data-rehype-pretty-code-title],
figure[data-rehype-pretty-code-figure] div[data-rehype-pretty-code-title] {
  @apply flex items-center bg-[var(--background)] bg-opacity-90 
         border-b border-[var(--background)] px-2 py-1 mb-2 text-sm font-semibold text-[var(--background)]
         rounded-lg;
}

/* === 코드 블록 내부 코드 스타일 === */
figure[data-rehype-pretty-code-figure] code {
  @apply font-mono text-sm bg-transparent;
}
